
/* Container for the tooltip */
.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltipText {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 22px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}