.container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}
  
  .toggleButton {
    background-color: rgba(37, 29, 83, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggleButton:hover {
    background-color: #005bb5;
  }
  
  .contentWrapper {
    overflow: hidden;
    transition: max-height 0.3s ease; /* Smooth collapse/expand */
  }
  
  .content {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
  }
  